# cpp
hello_world/cpp/bii/build
hello_world/cpp/bii/cmake
hello_world/cpp/bii/deps
hello_world/cpp/bii/lib

hello_world/cpp/bin
hello_world/cpp/bii/.hive.db

# elixir
hello_world/elixir/_build

# ruby
hello_world/ruby/.bundle
/hello_world/java/nbproject/private/
/hello_world/java/build/
/hello_world/java/target/

# java
*java/target*
