# cpp
*build
hello_world/cpp/bii/cmake
hello_world/cpp/bii/deps
hello_world/cpp/bii/lib

Makefile

*bin
*obj
*.hive.db
*.make

# elixir
hello_world/elixir/answer/_build
hello_world/elixir/challenge/_build
fibonacci/elixir/answer/_build
fibonacci/elixir/challenge/_build

# ruby
*.bundle

# java
*target


